a {
    color: #1679a4 !important;
}

.bonares_reference {
    text-align: left;
    color: #222222;
    border-radius: 5px;
    background-color: #eeeeee;
    /* border: 1px solid #1956AF;*/
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.bonares_reference h2 {
    font-size: 1.3em;
    color: #222222;

}

.bonares_reference p {
    font-size: 0.95em;
    color: #222222;
    margin-bottom: 1.3rem !important;
}
